<ul class="list-inline intro-social-buttons">
				<li><a href="/SignIn" class="btn  btn-lg mybutton_cyano wow fadeIn" data-wow-delay="0.8s"><span class="network-name">Sign In</span></a>
				</li>
				<li><a href="/showSignUp" class="btn  btn-lg mybutton_standard wow swing wow fadeIn" data-wow-delay="1.2s"><span class="network-name">Join</span></a>
				</li>
			</ul>
p><label>Email</label><input type="text" /></p>
										<p><label>Password</label><input type="password" /></p>
										<p><button>Login</button></p>

										<form>
										<p><label>Email</label><input type="text" /></p>
										<p><label>Password</label><input type="password" /></p>
										<p><label>Repeat Password</label><input type="password" /></p>
										<p><button>Sign Up</button></p>
									</form>