{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block content %}
  <body id="home">
    <!-- Preloader -->
	<div id="preloader">
		<div id="status"></div>
	</div>

	<!-- FullScreen -->
    <div class="intro-header">
		<div class="col-xs-12 text-center abcen1">
			<h1 class="h1_home wow fadeIn" data-wow-delay="0.4s">AisleMate</h1>
			<h3 class="h3_home wow fadeIn" data-wow-delay="0.6s">Your Personal Shopping Assistant</h3>
			<ul class="list-inline intro-social-buttons">
				<li>
					<button type="button" class="btn  btn-lg mybutton_cyano wow fadeIn" data-wow-delay="0.8s" data-toggle="modal" data-target="#loginModal"><span class="network-name">Sign In</span></button>
					<div id="loginModal" class="modal fade" role="dialog">
						<div class="modal-dialog">
							{% with messages = get_flashed_messages() %}
						      {% if messages %}
						        <ul>
						        {% for message in messages %}
						            <li>{{ message }} </li>
						        {% endfor %}
						        </ul>
						      {% endif %}
						    {% endwith %}
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h3 class="modal-title">Sign In</h3>
								</div>
								<div class="modal-body">
									<form action="" method="post">
										{{ login.hidden_tag() }}
										<p>
											{{ login.inputEmailIn.label }}
											{{ login.inputEmailIn(class_="form-control", placeholder="Your Email Address") }}
											
											{% for error in login.inputEmailIn.errors %}
            									<span style="color: red;">[{{ error }}]</span>
        									{% endfor %}
										</p>
										<p>
											{{ login.inputPasswordIn.label }}
											{{ login.inputPasswordIn(class_="form-control", placeholder="Password") }}
											
											{% for error in login.inputPasswordIn.errors %}
            									<span style="color: red;">[{{ error }}]</span>
        									{% endfor %}
										</p>
										
										<p>{{ login.submitIn(class_="btn") }}</p>
									</form>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li>
					<button type="button" class="btn  btn-lg mybutton_standard wow swing fadeIn" style="background: transparent" data-wow-delay="1.2s" data-toggle="modal" data-target="#joinModal"><span class="network-name">Join</span></button>
					<div id="joinModal" class="modal fade" role="dialog">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h3 class="modal-title">Join</h3>
								</div>
								<div class="modal-body">
									<form action="" method="post">
									{{ join.hidden_tag() }}
										<p>
											{{ join.inputEmailUp.label }}
											{{ join.inputEmailUp(class_="form-control", placeholder="Your Email Address") }}
											{% for error in join.inputEmailUp.errors %}
            									<span style="color: red;">[{{ error }}]</span>
        									{% endfor %}
										</p>
										<p>
											{{ join.inputPasswordUp1.label }}
											{{ join.inputPasswordUp1(class_="form-control", placeholder="Password") }}
											{% for error in join.inputPasswordUp1.errors %}
            									<span style="color: red;">[{{ error }}]</span>
        									{% endfor %}
										</p>
										<p>
											{{ join.confirm.label }}
											{{ join.confirm(class_="form-control", placeholder="Password") }}
											{% for error in join.confirm.errors %}
            									<span style="color: red;">[{{ error }}]</span>
        									{% endfor %}
										</p>
										<p>{{ join.submitUp(class_="btn") }}</p>
									</form>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
        <!-- /.container -->
		<div class="col-xs-12 text-center abcen wow fadeIn">
			<div class="button_down ">
				<a class="imgcircle wow bounceInUp" data-wow-duration="1.5s"  href="#whatis"> <img class="img_scroll" src="static/img/icon/circle.png" alt=""> </a>
			</div>
		</div>
    </div>

	<!-- NavBar-->
	<nav class="navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#home">AisleMate</a>
			</div>

			<div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
				<ul class="nav navbar-nav">

					<li class="menuItem"><a href="#whatis">What is it?</a></li>
					<li class="menuItem"><a href="#about">About</a></li>
					<li class="menuItem"><a href="#reviews">Reviews</a></li>
					<li class="menuItem"><a href="#Premium">Premium</a></li>
					<li class="menuItem"><a href="#contact">Contact</a></li>
				</ul>
			</div>

		</div>
	</nav>

	<!-- What it is -->
	<div id="whatis" class="content-section-b" style="border-top: 0">
		<div class="container">

			<div class="col-md-6 col-md-offset-3 text-center wrap_title">
				<h2>What is it?</h2>
				<p class="lead" style="margin-top:0">Here are the highlights.</p>

			</div>

			<div class="row">

				<div class="col-sm-4 wow fadeInDown text-center">
				  <img class="rotate" src="static/img/icon/pencil.svg" alt="Generic placeholder image">
				  <h3>Create</h3>
				  <p class="lead">With AisleMate, you can quickly and easily create personalised lists for shopping, packing, recipes and more. </p>

				  <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
				</div><!-- /.col-lg-4 -->

				<div class="col-sm-4 wow fadeInDown text-center">
				  <img  class="rotate" src="static/img/icon/speed.svg" alt="Generic placeholder image">
				   <h3>Organize</h3>
				   <p class="lead">In a rush? Speed up your shopping trip by organizing your list into the aisle and category order of your favourite supermarkets and stores. </p>
				   <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
				</div><!-- /.col-lg-4 -->

				<div class="col-sm-4 wow fadeInDown text-center">
				  <img  class="rotate" src="static/img/icon/milk.svg" alt="Generic placeholder image">
				   <h3>Customize</h3>
					<p class="lead">Choose where you'll be shopping from the included options or create your own! Just input the layout and AisleMate will do the rest. </p>
				  <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
				</div><!-- /.col-lg-4 -->

			</div><!-- /.row -->

			<div class="row tworow">

				<div class="col-sm-4  wow fadeInDown text-center">
				  <img class="rotate" src="static/img/icon/shopping bag.svg" alt="Generic placeholder image">
				  <h3>Sit Back</h3>
				  <p class="lead">Last minute family dinner? Forgot to make the cookies for that PTA meeting? Don't even sweat it. Choose your favourite recipe and AisleMate will create the shopping list for you*. </p>
				 <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
				</div><!-- /.col-lg-4 -->

				<div class="col-sm-4 wow fadeInDown text-center">
				  <img  class="rotate" src="static/img/icon/clipboard.svg" alt="Generic placeholder image">
				   <h3>Share</h3>
				   <p class="lead">Easily share your lists to allow others to to view and edit them. </p>
				   <p><a class="btn btn-embossed btn-primary view" href="#about" role="button">Learn More</a></p>
				</div><!-- /.col-lg-4 -->

				<div class="col-sm-4 wow fadeInDown text-center">
				  <img  class="rotate" src="static/img/icon/browser.svg" alt="Generic placeholder image">
				   <h3>Sync</h3>
				 <p class="lead">Create an account to always have your shoping list with you, manage all your lists on different devices and see your changes on all of them! </p>
				  <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
				</div><!-- /.col-lg-4 -->

			</div><!-- /.row -->
		</div>
	</div>

	<!-- About -->
	<div id ="about" class="content-section-a">

        <div class="container">

             <div class="row">

				<div class="col-sm-5 pull-right wow fadeInRightBig">
                    <img class="img-responsive " src="static/img/groceries.png" alt="to-do list">
                </div>

                <div class="col-sm-7 wow fadeInLeftBig"  data-animation-delay="200">
                    <h3 class="section-heading">Features</h3>
                    <p class="lead">AisleMate helps you easily create create, manage and share organized and efficient shopping lists using an easy and intuitive interface. Here's how it works:
					</p>

					<ul class="descp lead2">
						<li><i class="glyphicon glyphicon-search"></i> Quickly select products or choose a recipe and let AisleMate do the work*</li>
						<li><i class="glyphicon glyphicon-tasks"></i> Enter amount, price and notes and AisleMate will remember for next time</li>
						<li><i class="glyphicon glyphicon-shopping-cart"></i> Choose or create your personal supermarket layout </li>
						<li><i class="glyphicon glyphicon-share-alt"></i> Share your list to check if you missed anything</li>
						<li><i class="glyphicon glyphicon-usd"></i> Calculate the total cost of your shopping list </li>
						<li><i class="glyphicon glyphicon-flash"></i> Have a smooth shopping trip! </li>
					</ul>
				</div>
            </div>
        </div>

    </div>

    <div class="content-section-b">

		<div class="container">
            <div class="row">
                <div class="col-sm-6 wow fadeInLeftBig">
                     <div id="owl-demo-1" class="owl-carousel">
						<a href="static/img/Supermarket-Goods-Shelf-5.png" class="image-link">
							<div class="item">
								<img  class="img-responsive img-rounded" src="static/img/Supermarket-Goods-Shelf-5.png" alt="">
							</div>
						</a>
						<a href="static/img/Supermarket-Goods-Shelf-4.png" class="image-link">
							<div class="item">
								<img  class="img-responsive img-rounded" src="static/img/Supermarket-Goods-Shelf-4.png" alt="">
							</div>
						</a>
						<a href="static/img/Supermarket-Goods-Liquor-Shelf.png" class="image-link">
							<div class="item">
								<img  class="img-responsive img-rounded" src="static/img/Supermarket-Goods-Liquor-Shelf.png" alt="">
							</div>
						</a>
					</div>
                </div>

                <div class="col-sm-6 wow fadeInRightBig"  data-animation-delay="200">
                    <h3 class="section-heading">Our Values</h3>
					<div class="sub-title lead3">What this brand is really about:</div>
                    <p class="lead">
						Mission: AisleMate's mission to provide a web application of the highest calibre with an intuitive interface to make shopping as simple as it should be.
					</p>
					<p class="lead">
						Vision: Our vision is a complete replacement of unneccessary, inefficient paper shopping lists with AisleMate as a natural part of everyday life.
					</p>

					 <p><a class="btn btn-embossed btn-primary" href="#about" role="button">More Info</a>
					 <a class="btn btn-embossed btn-info" href="#contact" role="button">Contact Us</a></p>
				</div>
			</div>
        </div>
    </div>

    <div class="content-section-a">

        <div class="container">

            <div class="row">

				<div class="col-sm-6 pull-right wow fadeInRightBig">
                    <img class="img-responsive " src="static/img/IMG_5156.jpg" alt="Lisa-Monique Edward">
                </div>

                <div class="col-sm-6 wow fadeInLeftBig"  data-animation-delay="200">
                    <h3 class="section-heading">About the Creator</h3>
					<div class="sub-title lead3">My name is Lisa-Monique Edward and I'm a recent community college graduate who hates how long shopping trips take. </div>
                    <p class="lead">
						Contrary to what you may assume, I have absolutely no background or experience in Computer Science! I created AisleMate as my first full web app for my final project of Harvard University's Introduction to Computer Science Course but more importantly, to relieve the burden of long, inefficient shopping trips involving running back and forth because of forgotten items in certain aisles!
					</p>

					 <p><a class="btn btn-embossed btn-primary" href="#" role="button">View Details</a>
					 <a class="btn btn-embossed btn-info" href="#" role="button">Visit Website</a></p>
				</div>
            </div>
        </div>
        <!-- /.container -->
    </div>

	<!-- Reviews -->
	<div id="reviews" class="content-section-b">
        <div class="container">
        	<div class="row" >
				<div class="col-md-6 col-md-offset-3 text-center">
					<h2>Reviews</h2>
					<p class="lead" style="margin-top:0">What our Customers are Saying</p>
				</div>
			</div>
		    <div id="myCarousel" class="row wow bounceInUp" data-ride="carousel">
        		<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
				</ol>
				<!-- Wrapper for slide -->
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<h4><strong>"This app is the best. I use it every week!"</strong><br><span style="font-style:normal;">Michael Roe, Vice President, Comment Box</span></h4>
					</div>

					<div class="item">
						<h4><strong>"One word... WOW!!"></strong><br><span style="font-style:normal;">John Doe, Salesman, Rep Inc</span></h4>
					</div>

					<div class="item">
						<h4><strong>"I could never recommend going shopping without it again!"></strong><br><span style="font-style:normal;">Chandler Bing, Actor, FriendsAlot</span></h4>
					</div>
				</div>
				<!-- Left and right controls -->
				<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
        	</div>
        </div>


	</div>

	<div  class="content-section-c ">
		<div class="container">
			<div class="row">
			<div class="col-md-6 col-md-offset-3 text-center white">
				<h2><small>Join our Mailing List</small></h2>
				<p class="lead" style="margin-top:0">Never miss an update.</p>
			 </div>
			<div class="col-md-6 col-md-offset-3 text-center">
				<div class="mockup-content">
						<div class="morph-button wow pulse morph-button-inflow morph-button-inflow-1">
							<button type="button "><span>Subscribe to our Newsletter</span></button>
							<div class="morph-content">
								<div>
									<div class="content-style-form content-style-form-4 ">
										<h2 class="morph-clone">Subscribe to our Newsletter</h2>
										<form>
										{{ mail.hidden_tag() }}
											<p>
												{{ mail.mailEmail.label }} {{mail.mailEmail() }} 
											</p>
											<p>
												{{ mail.submitMail(class_="btn") }}
											</p>
										</form>
									</div>
								</div>
							</div>
						</div>
				</div>
			</div>
			</div>
		</div>
	</div>

	<!-- Premium -->
	<div id="Premium" class="content-section-a">
		<div class="container">
			<div class="row">

			<div class="col-md-6 col-md-offset-3 text-center wrap_title">
				<h2>Premium</h2>
				<p class="lead" style="margin-top:0">Unlock the full power of your AisleMate for $2.99 a month.</p>
			 </div>

				<div class="col-sm-6  block wow bounceIn">
					<div class="row">
						<div class="col-md-4 box-icon rotate">
							<i class="fa fa-shopping-cart fa-4x "> </i>
						</div>
						<div class="col-md-8 box-ct">
							<h3> Recipe Import </h3>
							<p> Save recipes from popular websites and blogs directly and let AisleMate create your shopping list for you. </p>
						</div>
				  </div>
			  </div>
			  <div class="col-sm-6 block wow bounceIn">
					<div class="row">
					  <div class="col-md-4 box-icon rotate">
						<i class="fa fa-calendar-o fa-4x "> </i>
					  </div>
					  <div class="col-md-8 box-ct">
						<h3> Meal Planning </h3>
						<p> Plan your meals for the coming weeks on a calendar, then easily add ingredients for upcoming recipes to your shopping list.</p>
					  </div>
					</div>
			  </div>
		  </div>

		  <div class="row tworow">
				<div class="col-sm-6  block wow bounceIn">
					<div class="row">
						<div class="col-md-4 box-icon rotate">
							<i class="fa fa-picture-o fa-4x "> </i>
						</div>
						<div class="col-md-8 box-ct">
							<h3> Item Photos </h3>
							<p> Add photos to list items to keep everyone on the same page and make sure the right item is purchased. </p>
						</div>
				  </div>
			  </div>
			  <div class="col-sm-6 block wow bounceIn">
					<div class="row">
					  <div class="col-md-4 box-icon rotate">
						<i class="fa fa-fire fa-4x "> </i>
					  </div>
					  <div class="col-md-8 box-ct">
						<h3> Themes</h3>
						<p> Show your style by customizing the look of your lists with multiple fonts, colors, and textures.</p>
					  </div>
					</div>
			  </div>
		  </div>
		</div>
	</div>

	<!-- Banner -->
	<div id="startbanner" class="banner" style="height: 100%">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center wrap_title">
				<h2> Start Shopping Now </h2><br><br><br><br><br>
				<div class="col-xs-12 text-center wow fadeIn">
					<a class=btn href="#home">
						<i class="fa fa-sign-in fa-4x" style="width:50px; vertical-align: middle; line-height: 1.72222;"></i></a>
				</div>
			</div>
		</div>
	</div>

	<!-- Contact -->
	<div id="contact" class="content-section-a" style="color: #34495e">
		<div class="container">
			<div class="row">

			<div class="col-md-6 col-md-offset-3 text-center wrap_title">
				<h2>Contact Us</h2>
			</div>

			<form role="form" action="" method="post" >
			{{ contact.hidden_tag() }}
				<div class="col-md-6">
					<div class="form-group">
						{{ contact.name.label }}
						<div class="input-group">
							{{ contact.name(class_="form-control", placeholder="Enter Name")}}
							<span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
						</div>
					</div>

					<div class="form-group">
						<label for="InputEmail">Your Email</label>
						<div class="input-group">
							<input type="email" class="form-control" id="InputEmail" name="InputEmail" placeholder="Enter Email" required  >
							<span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
						</div>
					</div>

					<div class="form-group">
						<label for="InputMessage">Message</label>
						<div class="input-group">
							<textarea name="InputMessage" id="InputMessage" class="form-control" rows="5" required></textarea>
							<span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
						</div>
					</div>

					<input type="submit" name="submit" id="submit" value="Submit" class="btn wow tada btn-embossed btn-primary pull-right">
				</div>
			</form>

			<hr class="featurette-divider hidden-lg">
				<div class="col-md-5 col-md-push-1 address">
					<address>
						<p class="lead">
							<span class="glyphicon glyphicon-map-marker"></span>
							Castries, St. Lucia, LCO4 301<br>
							<span class="glyphicon glyphicon-phone"></span>+1758-716-8194<br>
							<span class="glyphicon glyphicon-envelope"> lisam.edward@gmail.com
						</p>
					</address>

					<h3>Social</h3>
					<li class="social">
					<a href="#"><i class="fa fa-facebook-square fa-size"> </i></a>
					<a href="#"><i class="fa  fa-twitter-square fa-size"> </i> </a>
					<a href="#"><i class="fa fa-google-plus-square fa-size"> </i></a>
					<a href="#"><i class="fa fa-flickr fa-size"> </i> </a>
					</li>
				</div>
			</div>
		</div>
	</div>


    <!-- JavaScript -->
    <script src="static/js/jquery-1.10.2.js"></script>
    <script src="static/js/bootstrap.js"></script>
	<script src="static/js/owl.carousel.js"></script>
	<script src="static/js/script.js"></script>
	<!-- StikyMenu -->
	<script src="static/js/stickUp.min.js"></script>
	<script type="text/javascript">
	  jQuery(function($) {
		$(document).ready( function() {
		  $('.navbar-default').stickUp();

		});
	  });

	</script>
	<!-- Smoothscroll -->
	<script type="text/javascript" src="static/js/jquery.corner.js"></script>
	<script src="static/js/wow.min.js"></script>
	<script>
	 new WOW().init();
	</script>
	<script src="static/js/classie.js"></script>
	<script src="static/js/uiMorphingButton_inflow.js"></script>
	<!-- Magnific Popup core JS file -->
	<script src="static/js/jquery.magnific-popup.js"></script>
  </body>
  {% endblock %}